* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: papayawhip;
  --borderColor: palevioletred;
  --textColor: var(--borderColor);
  --font: 'Roboto', sans-serif;
  --textSize: 32px;
}

body {
  background-color: var(--backgroundColor);
}

.reset {
  background: var(--backgroundColor);
  color:var(--textColor);
  border:3px solid var(--borderColor);
  padding: 15px;
}

.reset:hover {
  animation:switch-colors 0.3s forwards ease-in;
}

.main-container {
  display: flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
}

.content {
  position:relative;
  color:var(--textColor);
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  border: 3px solid var(--borderColor);
  height: 300px;
  width: 250px;
  padding: 5px;
  margin: 15px;
  font-size: var(--textSize);
  font-family: var(--font);
}

.shade {
  animation:switch-colors 0.3s forwards ease-in;
}

.slide-left {
  animation: shrink-box 0.6s forwards ease-in-out;
}

@keyframes switch-colors {
  to {
    background: var(--textColor);
    color: var(--backgroundColor);
  }
}

@keyframes shrink-box {
  from {
    left: 0;
  }
  to {
    left: -200px;
    opacity: 0;
/*     width: 0px;
    opacity: 0; */
  }
}