html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 50%;
  margin-right: 50%;
}
/* Main side display*/
.box-container {
  display: flex;
  border: 1px solid red;
  justify-content: center;
}

.screen {
  width: 800px;
  padding-top: 100px;
  text-align:center;
  border: 1px solid gold;
}

.timer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width:300px;
  border: 1px solid blue;
}

.display {
  padding-top:40px;
  height: 100px;
  border: 1px solid red;
  margin: 10px 0px 10px;
  text-align: center;
}

.microwave-presets {
  border: 1px solid dodgerblue;
  margin-bottom:10px;
  text-align: center;
}

.preset-container {
  border:1px solid hotpink;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.preset {
  border: 1px solid olive;
}

.express-cook {
  margin-bottom: 10px;
  border: 1px solid black;
  text-align: center;
}

.numbers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.numbers {
  padding: 10px;
}

.controls {
  display:flex;
  justify-content: space-evenly;
  border: 1px dashed blue
}

.off {
  padding:10px;
  text-align: center;
  border: 1px dashed red;
}

#start-pause {
  border: 1px dashed red;
  padding: 10px;
}

#start-pause:hover {
  background-color: goldenrod;
}

.microwave-features-title {
  text-align: center;
}

.microwave-features-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features {
  padding:10px;
}