/* Initial reset to adjust padding/border 
  more info: https://zellwk.com/blog/css-reset/
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

/* Slap a big ol microwave up top */
.title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 50%;
  margin-right: 50%;
}
/* Main side display*/
.box-container {
  display: flex;
  border: 1px solid red;
  justify-content: center;
}
/* The microwave screen */
.screen {
  width: 800px;
  padding-top: 100px;
  text-align:center;
  border: 1px solid gold;
}

.door-handle {
  padding-top: 200px;
  text-align: center;
}

/* This is where all the controls live */
.timer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width:300px;
  border: 1px solid blue;
  background-color: silver;
}
/* Where you would see the time displayed */
.display {
  height: 100px;
  border: 1px solid red;
  margin: 10px 0px 10px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 75px;
}
/* right underneath the display, where you have preset times/temps */
.microwave-presets {
  border: 1px solid dodgerblue;
  margin-bottom:10px;
  text-align: center;
}

.preset-container {
  border:1px solid hotpink;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.preset {
  border: 1px solid olive;
}

.preset:hover {
  background-color: goldenrod;
}
/* Manually enter times here and other presets */
.express-cook {
  margin-bottom: 10px;
  border: 1px solid black;
  text-align: center;
}

.numbers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5px 0px 5px;
}

.numbers {
  padding: 10px;
}

.numbers:hover {
  background-color: goldenrod;
}

/* Start/Stop/Off buttons */
.controls {
  display:flex;
  justify-content: space-evenly;
  border: 1px dashed blue;
  margin:10px 0px 10px;
}

#off {
  padding:10px;
  text-align: center;
  border: 1px dashed red;
}

#start-pause {
  border: 1px dashed red;
  padding: 10px;
}

#start-pause:hover {
  background-color: goldenrod;
}

/* addtional features: add30 seconds, etc */
.microwave-features-title {
  text-align: center;
}

.microwave-features-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features {
  padding:10px;
  border: 1px dashed sienna;
  margin: 5px;
}

.features:hover {
  background-color: goldenrod;
}